<!doctype html>
<html>
    <head>
        <style>
            img {
  vertical-align:middle;
}
        </style>
        <title>Home page</title>
    </head>
    <body>
        <h1>
            <a href="/">
                <img src="https://imagizer.imageshack.com/img922/636/oNBuh3.jpg" alt="Civic Project Free-Car Mines 2021/2022" height = 150 width = 150 >
            </a>
            Free-Car Mines online bicycle reservation system
            <a href="/">
            <img src="https://imagizer.imageshack.com/img922/636/oNBuh3.jpg" alt="Civic Project Free-Car Mines 2021/2022" height = 150 width = 150 >
            </a>
        </h1>
        <BLOCKQUOTE>
            <BLOCKQUOTE>
                <blockquote>
                    <p><I> Please give your <B>name</B>, <B>first name</B> and also the <B>date</B> of the bike reservation. </I></p>
                </blockquote>
            </BLOCKQUOTE>
        </BLOCKQUOTE>
    </body>

{% block content %}

<form action="#" method="post">
    <BLOCKQUOTE>
        <BLOCKQUOTE>
            <blockquote>

	            <p><B>Name:</B></p>
                <p><input type="text" name="nm" /></p>
                <p><B>First name:</B></p>
                <p><input type="text" name="pm" /></p>
                <p><B>Reservation Date (jj/mm/aaaa):</B></p>
                <p><input type="date" id="start" name="dt" value="<?php echo date('Y-m-d'); ?>" min="<?php echo date('Y-m-d'); ?>" max="2022-6-31"></p>
                <p><input type="submit" value="envoyer"/></p>

            </blockquote>
        </BLOCKQUOTE>
    </BLOCKQUOTE>
</form>

{% endblock %}
</html>
